.logo-image {
    width: 100%;
    display: block;
    height: 280px;
    object-fit: contain;
}

@media screen and (max-width: 480px) {
    .logo-image {
        height: 180px;
    }
}

@media screen and (max-width: 360px) {
    .logo-image {
        height: 150px;
    }
}